.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.step-active {
    box-shadow: 0 0 0 4px rgba(0, 106, 97, 0.2);
}

body {
    min-height: max(884px, 100dvh);
}
